body {
  background-color: rgb(192, 200, 150);
  font-family: 'Fugaz One', cursive;
}

header {
  background-color: rgb(134, 155, 134);
  border-bottom: 10px solid rgb(92, 87, 18);
}

.header-title {
  font-family: 'Press Start 2P', cursive;
  color:wheat;
}

header h1 {
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  padding-top: 50px;
}

.modal-style {
  color:wheat;
  text-decoration: none;
}

#modal-close {
  color:wheat;
}

#ex1 {
  background-color: rgb(134, 155, 134);
  border-color: rgb(92, 87, 18) ;
  border-style: solid;
  border-width: 5px;
  border-radius: 6%;
  width: auto;
  height: auto;
  text-align: left;
  color: wheat;
  font-size:20px;
}

content {
  padding-top: 50px;
}

.playArea {
  background-color: rgb(54, 109, 54);
  border-color: rgb(144, 69, 69) ;
  border-style: solid;
  border-width: 10px;
  border-radius: 600px;
  height: 450px;
  width: 50%;
  text-align: center;
  color: wheat;  
}

.user-row {
  padding-top: 50px; 
}

.dealerHand {
  list-style-type: none;
  overflow: hidden;
  padding-left: 64px;
  padding-right: 64px;
}

.userHand {
  list-style-type: none;
  overflow: hidden;
  padding-left: 64px;
  padding-right: 64px;
}

.cardImg {
  height: 120px;
  width: auto;
  padding: 0px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


.container {
  /* margin: auto; */
  margin-left: 0 auto;
}
.btn-container {
  margin-left: 38%;
}

.score-div {
  border: solid; 
  background-color: rgb(134, 155, 134);
  border-color: rgb(92, 87, 18) ;
  border-style: solid;
  border-width: 5px;
  border-radius: 6%;
  width: 300px;
  text-align: center;
  padding-top: 30px;
  color: wheat;
  height: 250px;
}

  .dealer-div {
    border: solid; 
    background-color: rgb(134, 155, 134);
    border-color: rgb(92, 87, 18) ;
    border-style: solid;
    border-width: 5px;
    border-radius: 6%;
    width: 300px;
    text-align: center;
    color: wheat;
    height: 300px;
}

.player-div {
  border: solid; 
  background-color: rgb(134, 155, 134);
  border-color: rgb(92, 87, 18) ;
  border-style: solid;
  border-width: 5px;
  border-radius: 6%;
  width: 300px;
  text-align: center;
  color: wheat;
  height: 300px;
  /* margin-top: 250px; */
}

.dialogue {
  border: solid;
  background-color: rgb(134, 155, 134);
  border-color: rgb(92, 87, 18) ;
  border-style: solid;
  border-width: 5px;
  border-radius: 6%;
  width: 300px;
  text-align: center;
  color: wheat;
  height: 250px;
} 


#loser, #winner, #push {
  position: absolute;
  font-size:xx-large;
  color: wheat;
  height: 450px;
  width: 1140px;
  background-color: rgb(54, 109, 54);
  z-index: 1;
  margin: 0 auto;
  text-align: center;
  border-radius: 400px;
  border-color: rgb(144, 69, 69);
  border-width: 10px;
  border-style: solid;
}

.img-of-dealer{
  height: 200px;
}

.img-of-player{
  height: 200px;
}

button {
  background-color: rgb(134, 155, 134); 
  border: 5px solid rgb(92, 87, 18);
  border-radius: 4%;
  color: wheat;
  padding: 15px;
  text-align: center;
  display: inline-block;
  font-size: 22px;
  width: auto;
  margin: 4px;
}

button:hover {
  opacity: .75;
}

.footer {
  height: 50px;
  border-top: 6px solid #584f46;
  margin-top: 3px;
  background-color:rgb(134, 155, 134);;
  padding-top: 14px;
  color: wheat;;
}

.footer p {
  color: wheat;
}